/* Style the pagination container */
.swiper-pagination {
  bottom: 40;
}

/* Style individual pagination bullets */
.swiper-pagination-bullet {
  background-color: #cbd5e1; /* Light gray */
  width: 12px; /* Specify bullet size */
  height: 12px;
  opacity: 1;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}

/* Style active pagination bullet */
.swiper-pagination-bullet-active {
  background-color: #38bdf8; /* Cyan */
  transform: scale(1.2); /* Enlarge active bullet */
}
